.latest_events{
  height: 1783px;
}

.top_banner_content{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.top_banner{
  position: relative;
  margin: 0;
  max-width: 1200px;
  overflow: hidden;
}

.demands_container{
  position: relative;
  margin-top: 200px;

}

.title_container{
  width: 65%;
  margin-top: 145px;
  max-width: 700px;
}

.title_smallText{
  display: flex;
  flex-direction: column;
}

.small_text{
  margin: 1.875px 0;
}

.big_title_cointainer{
  width: 100%;
  max-height: 300px;

}
.big_title{
  width: 100%;
  margin: 7.67px 0px;
}

.candidate{
  position: absolute;
  max-width: 500px;
  width: 45%;
  top: -652px;

}

.demands_board_container{
  display: flex;
  position: relative;
  height: auto;
  overflow: unset;
  justify-content: flex-end;
}

.demands{
  position: relative;
  width: 90%;
  max-width: 1080px;
  height: 405px;
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA), linear-gradient(0deg, #4527A0, #4527A0);
  border: 5px solid #4527A0;
  // box-shadow: -15px 20px 0px 0px #4527A0;
  border-radius: 80px 0px 80px 0px; 
  padding-top: 40px;
  h1{
    color: #222222;
    margin-bottom: 35px;
    text-align: center;
  }

  h4{
    width: 100%;
    padding: 0 4.6%;
    color: #333333;
    text-align: left;
  }

  h5{
    display: none;
  }

  .body_normal{
    display: none;
  }
}

.demands_shadow{
  display: block;
  position: absolute;
  width: 90%;
  max-width: 1080px;
  height: 405px;
  background: linear-gradient(0deg, #4527A0, #4527A0);
  border: 5px solid #4527A0;
  border-radius: 80px 0px 80px 0px;
  z-index: -1;
  top: 20px;
  right: 20px;

}

.big_title_mobile{
  display: none;
}

.events_container{
  margin-top: 55px;
}

.topic_title{
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.event_cards_container{
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
  display: flex;
  height: 55vh;
  max-height: 495px;
  img{
    display: block;
    position: relative;
  }
  .left_card{
    width: 45%;
    max-width: 485px;
    height: 100%;
    background-color: #FAFAFA;
    position: relative;
    margin-right: 30px;
    border-radius: 8px;
    overflow: hidden;
    &::after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 25px solid;
      border-color: transparent transparent #FAFAFA transparent;
      bottom: 170px;
      z-index: 2;
      left: calc(50% - 20px);

    }
    img{
      width: 100%;
    }
    .date{
      position: absolute;
      right: 0;
      top: 0;
      max-width: 75px;
      width: 16%;
      height: 75px;
      z-index: 1;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      color: #FAFAFA;
      background-color: #26A69A;
      margin: 0 auto;
    }
    h4{
      color: #222222;
      margin: 15px;
      margin-bottom: 0px;
      text-align: left;
    }
    p{
      padding: 15px;
      text-align: left;
    }
  }

  .right_cards{
    height: 100%;
    .card{
      display: flex;
      position: relative;
      max-height: 230px;
      border-radius: 8px;
      overflow: hidden;
      height: 50%;
      &:nth-child(1){
        margin-bottom: 30px;
      }

      img{
        max-width: 275px;
        width: 45%;
        height: 100%;
        max-height: 230px;
      }
      .text_content{
        max-width: 410px;
        position: relative;
        background-color:  #FAFAFA;
        padding: 15px;
        height: 100%;
        .date{
          max-width: 105px;
          height: 35px;
          background-color: #26A69A;
          line-height: 35px;
          color: #FAFAFA;
          border-radius: 8px 0px 8px 0px;
          text-align: center !important; 
        }
        .body_medium{
          text-align: left;
        }
      }
      h4{
        color: #222222;
        margin: 15px;
        margin-bottom: 10px;
        text-align: left;
        margin-left: 0;
      }
      
    }
  }
}

.event_cards_swiper_container{
  display: none;
}

@media screen and (max-width: 1024px){
  .demands_container {
    margin-top: 100px;

  }

  .candidate{
    top: -475px;
  }
  .demands{
    h1{
      font-size: 33px;
      margin-bottom: 0;
    }
    h4{
      font-size: 18px;
    }
    h5{
      display: none;
    }
  }

  .event_cards_container{
    .left_card{
      &::after{
        bottom: 265px;
      }
    }
    .right_cards{
     .card{
      max-height: 210px;
      h4{
        font-size: 20px;
        line-height: 24px;    
        margin: 5px;
      }
     }
    }
  }
}

@media screen and (max-width: 768px){
  .top_banner_content{
    width: 95%;
    max-width: 353px;
  }

  .title_container{
    max-width: 345px;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .demands_container{
    margin-top: 240px;
  }

  .big_title{
    display: none;
  }

  .big_title_mobile{
    display: block;
    width: 100%;
    max-width: 345px;
  }
  .candidate{
    top: -315px;
    width: 75%;
    max-width: 242px;
    right: -10px;
  }




  .demands{
    width: 100%;
    max-width: 315px;
    max-height: 296px;
    padding-top: 10px;
    h1{
      display: none;
    }
    h5{
      display: block;
      text-align: center;
      padding: 0 15%;
    }
    h4{
      display: none;
    }
    .body_normal{
      display: block;
      padding: 0 5px;
    }
  }
  .demands_shadow{
    top: 10px;
    right: 2px;
    max-height: 296px;
  }
  
}

@media screen and (max-width:768px){
  .event_cards_container{
    display: none;
  }
  .event_cards_swiper_container{
    display: block;
    max-width: 385px;
    display: block;
    .swiper-container{
      width: 100%;
    }
    .swiper-container{
      max-height: 370px;
    }
    .mobile-events-card{
      max-width: 300px;
      height: 100%;
      background-color: #FAFAFA;
      position: relative;
      margin-right: 30px;
      border-radius: 8px;
      overflow: hidden;
      &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 25px solid;
        border-color: transparent transparent #FAFAFA transparent;
        bottom: 245px;
        z-index: 2;
        left: calc(50% - 20px);
      }
      .date{
        position: absolute;
        right: 0;
        top: 0;
        max-width: 65px;
        width: 22%;
        height: 65px;
        z-index: 1;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        color: #FAFAFA;
        background-color: #26A69A;
        margin: 0 auto;
      }
      h5{
        color: #222222;
        margin: 10px;
        margin-bottom: 0px;
        text-align: left;
        margin-top: 0;
      }
      p{
        padding: 15px;
        text-align: left;
      }
      img{
        width: 100%;
      }

      .body_medium{
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        max-height: 80px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .swiper-pagination{
      // max-width: 295px;
      bottom: -300px !important;
    }
  }

}
